.cabecalho {
    display: flex;
    justify-content: center;
    background-color: #17181d;
    padding: 2rem;
}

.cabecalho__logo {
    width: 18.3rem;
    margin: 0 0 1rem 0;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-family: var(--montserrat);
    font-weight: 900;
    
    display: inline-block;

    margin-left: .5rem;
}

.cabecalho__link a {
    font-size: 1.200rem;
    text-decoration: none;
    color: #fff;
}

.cabecalho__link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        position: fixed;

        box-shadow: rgb(0 0 0 / 40%) 0 0 10px 0;

        right: 0;
        left: 0;
        top: 0;

        padding: 1.500rem 0;
    }

    .cabecalho__logo {
        margin: 0;
    }

    .caixa {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 85%;
        margin: 0 auto;
    }

}

