body {
	background-color: #17181d;
}

.logo__principal {
	display: flex;
	justify-content: center;
}

.logo {
	width: 60%;
	margin: 10rem auto 0 auto;
}

.links {
	width: 940px;

	margin: 0 auto;

	padding: 5rem 0 ;

}

.links li {
	display: inline-block;

	text-align: center;

	font-family: var(--roboto-slab);

	width: 30%;

	margin: 1.5%;

	box-sizing: border-box;
	background-color: #f37f24;
	border-radius: 50px;
	box-shadow: 5px 3px 5px 0 #0c0c0c;

	padding: 1rem;

}

.links li:hover {
	opacity: 0.9;
}

.links li:active a {
	
}

.links a {
	color: #FFF;

	text-decoration: none;
	font-size: 2.300rem;

}

.links  a:hover {
	text-decoration: underline;
}
