body {
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "container"
        "rodape";
    grid-template-columns: 100%;   
}

.cabecalho {
    grid-area: cabecalho;
}
 
.container {
    grid-area: container;
     
}

.rodape {
    grid-area: rodape;
}

@media screen and (min-width: 0) {
    body {
        background: #fdfdfd;
        grid-template-rows: 150px auto auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        background: #f5f5f5;
        grid-template-rows: 80px auto auto;
    }
}

