@media screen and (min-width: 0) {
    .relacionados {
        padding: 1rem;
        height: auto;
        width: initial;
    }
}

@media screen and (min-width: 992px){
    .relacionados {
        padding: 2rem;
        height: 220px;
        width: calc(30% - 2rem);
    }
}